name: recursive_reasoning.gtrm@GTRM
loss:
  name: losses@ACTLossHead
  loss_type: stablemax_cross_entropy
  act_loss_weight: 1.5

halt_exploration_prob: 0.1
halt_max_steps: 16

H_cycles: 3
L_cycles: 6

H_layers: 0
L_layers: 2

hidden_size: 256 # 512
num_heads: 8  # min(2, hidden_size // 64)
expansion: 4

puzzle_emb_ndim: ${.hidden_size}

pos_encodings: none
forward_dtype: bfloat16

mlp_t: True # use mlp on L instead of transformer
puzzle_emb_len: 16 # if non-zero, its specified to this value
no_ACT_continue: True # No continue ACT loss, only use the sigmoid of the halt which makes much more sense

log_sigma_head_init_bias: -5 # start with low exploration for early stability

q_head_input_detached: False
q_head_input_form: "first puzzle emb" # "intermediate output" for un-embedded z_H or "first puzzle emb" for z_H[:, 0, :] (original)

H_deterministic_mode: "False" # "separate weights" or "skip noise" or "False"

force_max_steps_at_eval: False
time_embeddings: False
